<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{  url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Add Book</title>
</head>

<body>
    
    <form method="POST"  action="" enctype="multipart/form-data">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>Add Book</h1>
            <hr>
            {{ form.hidden_tag() }}
            <label for="title"><b>Title:</b></label>
            {{ form.title }}
            <label for="author"><b>Author:</b></label>
            {{ form.author }}
            <label for="year"><b>Year:</b></label>
            {{ form.year }}<br /><br />
            <label for="genre"><b>Genre:</b></label>
            {{ form.genre }}
            <label for="num_pages"><b>Number of pages:</b></label>
            {{ form.num_pages }}<br /><br />
            <label for="description"><b>Description:</b></label>
            {{ form.description }}<br /><br />
            <label for="image"><b>Image:</b></label>
            {{ form.image }}
            <hr>
            {{ form.submit(class_="registerbtn") }}
        </div>


    </form>
</body>

</html>