{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Add Book
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/edit.css') }}">
{% endblock %}

<body style="background-color: #f5f5f5">
  {% block nav %}
  {% endblock %}
  {% block content %}
  <div class="form-wrap d-flex justify-content-center"> <!--Proper center aligment needed ASAP XD-->
    <div class="asd">
        <form method="POST" action="" class="form-container" enctype="multipart/form-data">
            <div class="container">
                <center><h1>Add Book</h1></center>
                <hr>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-2">
                        {{ form.title(class="form-control", id="floatingInput", placeholder="Title") }}
                        <label for="floatingInput">Title</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.author(class="form-control", id="floatingInput", placeholder="Author") }}
                        <label for="floatingInput">Author</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.year(class="form-control", id="floatingInput", placeholder="Year") }}
                        <label for="floatingInput">Year</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.genre(class="form-control", id="floatingInput", placeholder="Genre") }}
                        <label for="floatingInput">Genre</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.num_pages(class="form-control", id="floatingInput", placeholder="Number of Pages") }}
                        <label for="floatingInput">Number of Pages</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.description(class="form-control", id="floatingInput", placeholder="Description") }}
                        <label for="floatingInput">Description</label>
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.image(class="form-control", id="floatingInput", placeholder="Image") }}
                        <label for="floatingInput">Image</label>
                    </div><br/>
                    <hr>
                    <br>
                        {{ form.submit(class="btn btn-primary") }}
                        <a class="btn btn-secondary" href="{{url_for('home')}}" role="button">Cancel</a>
            </div>
        </form> 
    </div>
</div>
</div>  
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>
