{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Manage users
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

<body style="background-color: #f5f5f5">
  {% block nav %}
  {% endblock %}
  {% block content %}
  <div class="container">
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Year</th>
          <th scope="col">Genre</th>
          <th scope="col">NumOfPages</th>
          <th scope="col">Edit!</th>
          <th scope="col">Delete!</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for book in books %}
        <tr>
            <td> {{ book.title }}</td>
            <td> {{ book.author }}</td>
            <td> {{ book.year }}</td>
            <td> {{ book.genre }}</td>
            <td> {{ book.num_pages }}</td>
            <td><a href="/edit_book/{{ book.id }}" class="btn btn-warning">Edit!</a></td>
            <td><a href="/delete_book/{{ book.id }}" class="btn btn-danger">Delete!</a></td>
        </tr>
        {% endfor %}
        </tr>
      </tbody>
      <a class="btn btn-dark" href="{{ url_for('add_book') }}" >Add book</a><br/>
    </table>
  </div>
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>

</html>



