{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Manage users
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

<body style="background-color: #f5f5f5">
  {% block nav %}
  {% endblock %}
  {% block content %}
  <div class="container">
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">E-mail</th>
          <th scope="col">Username</th>
          <th scope="col">Edit!</th>
          <th scope="col">Delete!</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for user in users %}
        <tr>
          <td> {{ user.name }}</td>
          <td> {{ user.surname }}</td>
          <td> {{ user.email }}</td>
          <td> {{ user.username }}</td>
          <td><a href="/edit_user/{{ user.id }}" class="btn btn-warning ">Edit!</a></td>
          <td><a href="/delete_user/{{ user.id }}" class="btn btn-danger ">Delete!</a></td>
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>

</html>


