{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
{{ book.title }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
<style>
   .zdjecie{
            object-fit: none; /* Do not scale the image */
            object-position: center; /* Center the image within the element */
            width: 100%;
            height: 400px;
            margin-bottom: 1rem;
        }
</style>
{% endblock %}

<body style="background-color: #f5f5f5">
  {% block nav %}
  {% endblock %}
  {% block content %}
  <div class="page-content page-container" id="page-content">
    <div class="padding">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 user-profile" style="background-color: #393e46">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img class="zdjecie" src="{{ url_for('static', filename='bookimg/' ~ book.image) }}" alt="{{ book.title }}" class="card-img-top">
                                </div>
                                <h6 class="f-w-600">{{ book.title }}</h6>
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Author</p>
                                        <h6 class="text-muted f-w-400">{{book.author}}</h6>
                                    </div><div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Year</p>
                                        <h6 class="text-muted f-w-400">{{book.year}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Genre</p>
                                        <h6 class="text-muted f-w-400">{{book.genre}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Number of Pages</p>
                                        <h6 class="text-muted f-w-400">{{book.num_pages}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Description</p>
                                        <h6 class="text-muted f-w-400">{{book.description}}</h6>
                                    {%  if current_user.isAdmin %}
                                    <hr>
                                    <div class="container">
                                        <a class="btn btn-secondary" href="/edit_book/{{ book.id }}">Edit</a> &nbsp;
                                        <a class="btn btn-danger" href="/delete_book/{{ book.id }}">Delete</a> &nbsp; <br/> <br/>
                                    </div>
                                    {% endif %}
                                    <hr>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
    </div>
</div>
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>

</html>
