{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Register
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/edit.css') }}">
{% endblock %}

<body style="background-color: #f5f5f5">
  {% block nav %}
  {% endblock %}
  {% block content %}
  <div class="form-wrap d-flex justify-content-center">
    <!--Proper center aligment needed ASAP XD-->
    <div class="asd">
      <form method="POST" , action="" class="form-container">
        <h2>Edit user: {{ user.username }}</h2>
        <hr>
        {{ form.hidden_tag() }}
        <div class="form-floating">
          {{ form.old_password(class="form-control", id="floatingInput", placeholder="Old Password") }}
          <label for="floatingInput">Old Password</label>
        </div>
        <div class="form-floating">
          {{ form.new_password(class="form-control", id="floatingInput", placeholder="New Password") }}
          <label for="floatingInput">New Password</label>
        </div>
        
        <br>
        <hr>
        {{ form.submit(class="btn btn-primary") }}
        <a class="btn btn-secondary" href="{{url_for('dashboard')}}" role="button">Cancel</a>


      </form>
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  {{ super() }}
  {% endblock %}
</body>
</html>

