<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{  url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Change password: {{ user.username }}</title>
</head>
<body>
    <form method="POST", action="">
        <div class="container">
            <h1>Change password: {{ user.username }}</h1>
            <hr>
            {{ form.hidden_tag() }} 
            <label for="username"><b>Old password:</b></label>
            {{ form.old_password }}
            <label for="email"><b>New password:</b></label>
            {{ form.new_password}}
            <hr>
            {{ form.submit(class_="registerbtn") }}
        </div>

    </form>   
</body>
</html>